@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter24pt-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-style: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter24pt-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-style: swap;
}
